.nav-item.active a {
    background-color: rgb(191, 221, 250);
}

.navbar-nav {
    gap: 5px;
}

.navbar-nav a {
    border-radius: 3px;
    transition: 0.3s ease;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 10px !important;
}

.navbar-nav a:hover {
    border-bottom: 4px solid rgb(33, 86, 150);
}